/* _______________________________________  */
/* ------------- COLORS -----------------  */
/* ______________________________________  */
$primary: #006aa6;
$cyan: #04a6e1;
$white: #ffffff;
$red: #e2211c;
$red__300: #f33d39;
$yellow: #ffb800;
$yellow__300: #ffc600;
$gray: #cacaca;
$gray__dark: #454545;

/* _______________________________________  */
/* ------------- FONTS -------------------  */
/* _______________________________________ */
$font__light: 'crosstenextralight';
$font__extraBold: 'crosstenextrabold';

/* _______________________________________  */
/* ----------- GRADIENTS BTN -------------  */
/* _______________________________________ */
$btn__primary: linear-gradient(0deg, #0066b3 0%, #00377b 100%);
$btn__secundary: linear-gradient(0deg, #97c5ff 0%, #ffffff 100%);
$gilded: linear-gradient(
  293.88deg,
  #e28f26 3.85%,
  #fff56d 38.85%,
  #e4a025 58.14%,
  #fff56d 72.55%,
  #ba771d 99.19%
);
$gilded__2: linear-gradient(
  90deg,
  #f4c74a 7.31%,
  #ecae38 13.07%,
  #e79d2c 18.58%,
  #e39227 23.73%,
  #e28f26 28.16%,
  #e49528 33.09%,
  #eaa733 41.18%,
  #f4c64a 51.43%,
  #e28f26 93.29%
);

/* _______________________________________  */
/* ----------- BORDER RADIUS BTN -------------  */
/* _______________________________________ */
$border_radius_content: 0.8rem;
$border_radius_btn: 0.5rem;
